<!-- <div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <br>
            <img
                src="https://www.nicepng.com/png/full/152-1526045_site-under-construction-png-free-under-construction-image.png">
            <br>
        </div>
    </div>
</div>
<hr> -->
<div class="container">
    <h2> Eingegangene Bestellungen:</h2>
    <div class="row">
        <div class="col-8">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Preiß</th>
                        <th scope="col">Fertigstellen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderList; let i = index" (click)="selectItemFromList(orderList[i])">
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ i+1 }} {{ item.title }}</td>
                        <td>{{ item.price }}</td>
                        <td> <button class="btn btn-dark">Fertigstellen</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div *ngIf="selectedItemFromList" selectedItemFromList class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1574126154517-d1e0d89ef734?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> {{ selectedItemFromList.title }} </h5>
                    <p class="card-text"> {{ selectedItemFromList.description }}  - {{ selectedItemFromList.price | currency }} </p>
                    <button (click)="complete(selectedItemFromList)" class="btn btn-dark">Fertigstellen</button>
                </div>
            </div>
        </div>
    </div>
</div>