<div class="container bg-light ">
    <br>
    <h2>WarenKorb:</h2>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Preiß</th>
                    <th scope="col">+/-</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orders">
                    <th scope="row">{{ item.pid }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <button (click)="addOne(item)" type="button" class="btn btn-secondary btn-sm">+</button>
                        <button (click)="removeOne(item)" type="button" class="btn btn-secondary btn-sm">-</button>
                    </td>
                </tr>
                <tr *ngIf="orders.length > 0" class="bg-warning">
                    <th><b> - </b></th>
                    <td><b> Summe: </b></td>
                    <td><b> {{ getSum(orders) }} </b></td>
                    <th><b> - </b></th>
                </tr>
            </tbody>
        </table>
        <button *ngIf="orders.length > 0" (click)="onClick(orders)" class="btn btn-block btn-success"><i
                class="fa fa-caret-square-o-right" aria-hidden="true"></i> Bestellung absenden </button>
    </div>

</div>